<form method="post" action="/login">
  <label>ID</label>
  <input type="text" name="name" />
  <label>password</label>
  <input type="password" name="password" />
  <input type="submit" value="ログイン" />
</form>
